[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto

[alias]
	st = status
	ci = commit
	cm = commit -m
	co = checkout
	chkecout = checkout
	cehckout = checkout
	di = diff
	dc = diff --cached
	b = branch
	aa = add --all
	# sync = pull --rebase # This is behaving not well atm, it asks if I want to remove all changes locally...
	p = push
	pu = push
	psuh = push
	r = rebase
	s = pull --rebase
	f = log --follow

[format]
	pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[push]
	default = simple

# Set the user and commit settings in the local config
# Like:
# [user]
#	email = blasut937@gmail.com
#	name = blasut
[include]
    path = ~/.gitconfig.local

[github]
	user = blasut
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
