*.*~
recentf
idolast
emacs/.emacs.d/elpa/*
emacs/.emacs.d/eshell/*
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/org-clock-save.el
*.xref
*.beam

spacemacs/.emacs.d/*