[submodule "emacs/.emacs.d/site-lisp/dash"]
	path = emacs/.emacs.d/site-lisp/dash
	url = https://github.com/magnars/dash.el
[submodule "mix_autocomplete"]
	path = mix_autocomplete
	url = https://github.com/dalexj/mix_autocomplete.git
