*.*~
recentf
idolast
emacs/.emacs.d/elpa/*
emacs/.emacs.d/eshell/*
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/org-clock-save.el
*.xref
*.beam

spacemacs/.emacs.d/*

ivymacs/.emacs.d/elpa/*
/ivymacs/.emacs.d/projectile-bookmarks.eld
/ivymacs/.emacs.d/settings.el
/ivymacs/.emacs.d/url/cookies
/ivymacs/.emacs.d/semanticdb/*
/ivymacs/.emacs.d/network-security.data
/ivymacs/.emacs.d/eshell/*
/ivymacs/.emacs.d/bookmarks
/ivymacs/.emacs.d/persp-confs/*
/vim/.vim/.netrwhist
