[submodule "emacs/.emacs.d/site-lisp/dash"]
	path = emacs/.emacs.d/site-lisp/dash
	url = https://github.com/magnars/dash.el
[submodule "mix_autocomplete"]
	path = mix_autocomplete
	url = https://github.com/dalexj/mix_autocomplete.git
[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "spacemacs/.private/local/clojure-scemantic"]
	path = spacemacs/.private/local/clojure-scemantic
	url = https://github.com/abo-abo/clojure-semantic.git
[submodule "spacemacs"]
	branch = develop
[submodule "spacemacs/.private/local/ivy-rich"]
	path = spacemacs/.private/local/ivy-rich
	url = git@github.com:Yevgnen/ivy-rich.git
